{% import "_includes/forms" as forms %}

<h2>Default settings</h2>
<div class="flex-fields">
	<div class="field width-50">
		<div>
			{{ forms.selectField({
				first: true,
				label: 'Default paymentterm'|t('commerce-economic'),
				instructions: "If customer doesn't exist in e-conomic, what payment term should they have as default"|t('commerce-economic'),
				id: 'defaultpaymentTermsNumber',
				name: 'defaultpaymentTermsNumber',
				options : paymentTerms,
				value : settings.defaultpaymentTermsNumber,
				errors: settings.getErrors('defaultpaymentTermsNumber') ?? null,
				required: true,
			}) }}
		</div>
	</div>

	<div class="field width-50">
		<div>
			{{ forms.selectField({
				first: true,
				label: 'Default layout'|t('commerce-economic'),
				instructions: "If customer doesn't exist in e-conomic, what layout should they have as default"|t('commerce-economic'),
				id: 'defaultLayoutNumber',
				name: 'defaultLayoutNumber',
				options : layouts,
				value : settings.defaultLayoutNumber,
				errors: settings.getErrors('defaultLayoutNumber') ?? null,
				required: true,
			}) }}
		</div>
	</div>

	<div class="field width-50">
		<div>
			{{ forms.selectField({
				first: true,
				label: 'Default VAT-zone'|t('commerce-economic'),
				instructions: "If customer doesn't exist in e-conomic, what layout should they have as default"|t('commerce-economic'),
				id: 'defaultVatZoneNumber',
				name: 'defaultVatZoneNumber',
				options : vatZones,
				value : settings.defaultVatZoneNumber,
				errors: settings.getErrors('defaultVatZoneNumber') ?? null,
				required: true,
			}) }}
		</div>
	</div>

	<div class="field width-50">
		<div>
			{{ forms.selectField({
				first: true,
				label: 'Default customer group'|t('commerce-economic'),
				instructions: "If customer doesn't exist in e-conomic, what customer group should they have as default"|t('commerce-economic'),
				id: 'defaultCustomerGroup',
				name: 'defaultCustomerGroup',
				options : customerGroups,
				value : settings.defaultCustomerGroup,
				errors: settings.getErrors('defaultCustomerGroup') ?? null,
				required: true,
			}) }}
		</div>
	</div>

	<div class="field width-50">
		<div>
			{{ forms.lightswitchField({
			label: "Default electronic invoice"|t,
			id: 'defaultEInvoiceEnabled',
			name: 'defaultEInvoiceEnabled',
			instructions: "If checked, new customers will be created with electronic invoicing enabled"|t('commerce-economic'),
			value: 1,
			errors: settings.getErrors('defaultEInvoiceEnabled'),
			on: (settings.defaultEInvoiceEnabled is defined) ? settings.defaultEInvoiceEnabled : 0,
		}) }}
		</div>
	</div>
</div>
<hr>
